.row-header {
    margin: 0px auto;
    padding: auto;
    height: 200px;
}

.row-content {
    margin: 0px auto;
    padding: 150px 0px 50px 0px;
}

.row-back{
    padding-top: 30pt;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Trocchi'; 
    font-weight: bold;
    text-align: center;
}

.row-back2{
    padding-top: 0pt;
    color: rgb(255, 255, 255); 
    font-size: 20px;
    font-family: 'Trocchi'; 
    font-weight: bold;
    text-align: center;
}

.myheader{
    height: 500px;
    width: 100%;
    background: url(img/summer3.jpg) center no-repeat;
    background-size: cover;
}

.header-content {
    padding: 300px 0px 0px 0px;
}

.header-content2 {
    padding: 0px 0px 0px 0px;
}