.row-header {
    margin: 0px auto;
    padding: auto;
    height: 200px;
}

.row-content0 {
    margin: 0px auto;
    padding: 50px 0px 0px 0px;
    border-bottom: 1px ridge;
    min-height: 150px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content {
    margin: 0px auto;
    padding: 150px 0px 50px 0px;
}


.row-content2 {
    margin: 0px auto;
    padding: 15px 0px 20px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content3 {
    margin: 0px auto;
    padding: 40px 0px 5px 0px;
    font-size: 30px;
    font-family: 'Charcoal';
    font-weight: bold;
    align-self: center;
}

.row-content4 {
    margin: 0px auto;
    padding: 5px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content5 {
    margin: 0px auto;
    padding: 0px 0px 10px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    align-self: center;
}

.row-content6 {
    margin: 0px auto;
    padding: 20px 0px 10px 0px;
    font-size: 30px;
    font-family: 'Charcoal';
    font-weight: bold;
    align-self: center;
}

.row-content7 {
    margin: 0px auto;
    padding: 10px 0px 5px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content8 {
    margin: 0px auto;
    padding: 15px 0px 10px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    align-self: center;
}

.row-back{
    padding-top: 0pt;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Trocchi'; 
    font-weight: bold;
    text-align: center;
}

.row-back2{
    padding-top: 0pt;
    color: rgb(255, 255, 255); 
    font-size: 20px;
    font-family: 'Trocchi'; 
    font-weight: bold;
    text-align: center;
}

.myheader{
    height: 500px;
    width: 100%;
    background: url(img/summer3.jpg) center no-repeat;
    background-size: cover;
}

.header-content {
    padding: 300px 0px 0px 0px;
}

.header-content2 {
    padding: 0px 0px 0px 0px;
}

@media only screen and (max-width: 400px)  {
    .carousel-inner{
        width:100%;
        height: 90pt !important;
        object-fit: contain;
      }
}

@media only screen and (max-width: 600px)  {
    .carousel-inner{
        width:100%;
        height: 130pt !important;
        object-fit: contain;
      }
}

@media only screen and (min-width: 600px)  {
    .carousel-inner{
        width:100%;
        height: 180pt !important;
        object-fit: contain;
      }
}

@media only screen and (min-width: 900px)  {
    .carousel-inner{
        width:100%;
        height: 400pt !important;
        object-fit: contain;
      }
}

.myPadding {
    padding: 10px 0px 0px 0px;;
}