.row-header {
    margin: 0px auto;
    padding: auto;
    height: 200px;
}

.row-content {
    margin: 0px auto;
    padding: 150px 0px 50px 0px;
}

.header-content {
    margin: auto;
    padding: 250px 0px 50px 0px;
}

.row-back{
    padding-top: 30pt;
    color: lightyellow; 
    font-size: 45px;
    font-family: 'Trocchi'; 
    font-weight: bold;
}

.row-back2{
    padding-top: 0pt;
    color: lightyellow; 
    font-size: 30px;
    font-family: 'Trocchi'; 
    font-weight: bold;
}

.myheader{
    height: 500px;
    width: 100%;
    background: url("img/winter3.jpg") center no-repeat;
    background-size: cover;
}