{% extends 'index.html' %}
{% load static %}
{% block cssForThis %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/daun.css' %}">
{% endblock %}
{% block mainpage %}
    <div class="col-5 mt-5 container div-daun">
        {% csrf_token %}
        {% for contact in contacts %}
            <div class="card mb-1 div-daun-jr">
                <div class="card-body">
                    <h1>{{ contact.title }}</h1>
                    <p>{{ contact.name }} </p>
                    <p>{{ contact.description }} </p>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}