{% extends 'index.html' %}

{% block cssForThis %}
    <link rel = "stylesheet" href="../static/css/spring.css">
{% endblock %}

{% block mainpage %}
    <header class="myheader">
        <div class="row row-header col-sm-9">
            <div class="col-lg-4 col-md-5 col-sm-10 header-content">
                <h1 class = "row-back">Spring in Japan</h1>
            </div>
            <div class = "col-10"></div>
            <div class="col-lg-4 col-md-5 col-sm-7 header-content2">
                <h1 class = "row-back2">A time of rebirth, with beautiful pink blossom and perfect weather</h1>
            </div>
        </div>
    </header>

    <div class = "container">
        <div class = "row align-items-center">
            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h4 class = "row-content0">
                    Why spring is considered as the best season in Japan??? Only because of cherry blossoms??? Hold on! 
                    These are many more special things to see and do apart from cherry blossoms! 
                    Here are the best things about spring in Japan.
                </h4>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class = "row align-items-center">
            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    1. Cherry blossoms
                </h2>
                <h3 class = "row-content7">
                    Undeniably, cherry blossoms are the best things to see in Japan. After the long winter, 
                    cherry blossoms bring happiness and beauty to the country and pretty pink flowers transforms 
                    the scenery to magical. Cherry blossom viewing (Hanami) is the most popular activity in Japan.
                </h3>
                <h3 class = "row-content5 myPadding">
                    Check out the best time to see cherry blossoms in Japan:
                </h3>
                <a href="https://jw-webmagazine.com/cherry-blossom-forecast-in-japan-74a31373aa6e/">
                    <h3 class = "row-content4">
                        Japan Cherry Blossom Forecast
                    </h3>
                </a>
                <div id="carouselExampleControls" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/blossom.webp" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/nightblossom.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content5 myPadding">
                    Cherry Blossom Night Viewing
                </h3>
                <h3 class = "row-content7">
                    Watching cherry blossoms at night could be the best way to to spend a night during spring. 
                    There are numbers of spots for cherry blossoms night viewing including festivals and restaurants. 
                    Enjoy the long night of spring with delicious food and the pleasant view of cherry blossoms.
                </h3>
                <h3 class = "row-content5 myPadding">
                    More Info:
                </h3>
                <a href="https://jw-webmagazine.com/top-5-spots-for-cherry-blossom-night-viewing-c5c509a2a26f/">
                    <h3 class = "row-content4">
                        Top 5 Spots in Japan for Cherry Blossom Night Viewing
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    2. Parks
                </h2>
                <h3 class = "row-content7">
                    Spring is the best season to spend time outside as the temperature is mild, averagely 17~22℃ and mostly sunny. 
                    The beginning of March could be slightly chilly like below 15 degrees, and some days in May could be as hot 
                    and humid as summer. Parks could be the best place to visit in Japan during spring to enjoy spring flowers, 
                    fresh greens, and also numbers of special events are held. Tokyo has numbers of great parks such as Yoyogi Park, 
                    Ueno Park, and more.
                </h3>
                <div id="carouselExampleControls2" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/park4.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/park2.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content5 myPadding">
                    More about parks:
                </h3>
                <a href="https://jw-webmagazine.com/10-best-parks-in-tokyo-efc44c90b5df/">
                    <h3 class = "row-content4">
                        10 Best Parks to visit in Tokyo
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    3. More Spring Flowers
                </h2>
                <div id="carouselExampleControls3" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/flower4.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/flower2.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content7 myPadding">
                    It’s not only cherry blossoms which bloom in spring but there are various kinds of flowers we shouldn’t 
                    miss to see during the season, such as Wisteria, Pink Moss and Blue Nemophila. Check out the greatest 
                    flower festivals in Japan as beautiful as cherry blossoms!
                </h3>
                <h3 class = "row-content5 myPadding">
                    Check This Out:
                </h3>
                <a href="https://jw-webmagazine.com/7-must-visit-flower-festivals-around-tokyo-in-spring-75b4af795ef/">
                    <h3 class = "row-content4">
                        10 Must-Visit Flower Festivals around Tokyo in Spring!
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    4. Traditional Festivals
                </h2>
                <h3 class = "row-content7">
                    From spring to summer, there are plenty of festivals (Matsuri) held in Japan. 
                    Joining festivals is a great opportunity to get to know traditional Japanese culture. 
                    The biggest festivals in spring includes Sanja Matsuri in Asakusa, Takayama Matsuri and Kanda Matsuri.
                </h3>
                <div id="carouselExampleControls4" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/mitsuri.jpeg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/mitsuri3.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content5 myPadding">
                    Check This Out:
                </h3>
                <a href="https://jw-webmagazine.com/japans-3-biggest-festivals-in-april-2017-7b7b595a663d/">
                    <h3 class = "row-content4">
                        Japan’s 3 Biggest Festivals in April
                    </h3>
                </a>
                <a href="https://jw-webmagazine.com/japans-3-biggest-festivals-in-may-2017-9b09fbd3ce9a/">
                    <h3 class = "row-content4">
                        Japan’s 3 Biggest Festivals in May
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    5. Green Tea Plantations
                </h2>
                <h3 class = "row-content7">
                    Love Match?? Then you may not wanna green tea farms in Japan. The best time to visit green tea plantations 
                    is spring before picking season starts in May. There are several amazing green tea plantations near Mt Fuji 
                    that displays a fantastic scenery. They are definitely one of the best photo spots in Japan!
                </h3>
                <div id="carouselExampleControls5" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/matcha3.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/matcha21.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls5" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls5" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content5 myPadding">
                    More Info:
                </h3>
                <a href="https://jw-webmagazine.com/mt-fuji-and-green-tea-field-imamiya-tea-plantation-d6a95b04dbf4/">
                    <h3 class = "row-content4">
                        Best Green Tea Plantations in Shizuoka
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10 newPadding">
                <h2 class = "row-content3">
                    6. Okinawa
                </h2>
                <h3 class = "row-content7">
                    Did you know that beaches in Okinawa start opening for public in March?? The southern tropical islands 
                    of Japan welcomes summer way faster than other prefectures in Japan! As Okinawa’s high season starts 
                    from June through summer, it could be a good idea to visit there in spring to avoid crowds and also 
                    prices could be much cheaper!
                </h3>
                <div id="carouselExampleControls6" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/okinawa.webp" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/okinawa3.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls6" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls6" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content5 myPadding">
                    Check This Out:
                </h3>
                <a href="https://jw-webmagazine.com/20-top-things-to-do-in-okinawa-okinawa-bucket-list-85d5e926fbd1/">
                    <h3 class = "row-content4">
                        Top 20 Things to Do in Okinawa
                    </h3>
                </a>
            </div>
        </div>
    </div>

    <footer class="footer bg-dark">
        <div class="container">
            <div class = "bottomnavbar">
                <a href="{% url 'home_view' %}">Home</a>
                <a href="{% url 'winter_view' %}">Winter Japan</a>
                <a href="{% url 'spring_view' %}" class = "active">Spring Japan</a>
                <a href="{% url 'summer_view' %}">Summer Japan</a>
                <a href="{% url 'autumn_view' %}">Autumn Japan</a>
            </div>

            <div class="row justify-content-center newPadding2">
                <div class="text-center social-media">
                    <a class = "btn btn-social-icon btn-facebook" href="https://www.facebook.com/viktor.kachmaryk.3"><i class="fab fa-facebook"></i></a>
                    <a class = "btn btn-social-icon btn-instagram" href="https://www.instagram.com/k__vitya__k/?hl=uk"><i class="fab fa-instagram"></i></a>
                    <a class = "btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fab fa-twitter-square"></i></a>
                    <a class = "btn btn-social-icon btn-gooogle" href="http://youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
           </div>
            <div class="row justify-content-center newPadding3">
                <div class="col-auto">
                    <p>Copyright © Kachmaryk Viktor. All Rights Reserved.</p>
                </div>
           </div>
        </div>
    </footer>
{% endblock %}