{% extends 'index.html' %}

{% block cssForThis %}
    <link rel = "stylesheet" href="../static/css/summer.css">
{% endblock %}

{% block mainpage %}
    <header class="myheader">
        <div class="container">
            <div class="row row-header col-sm-9">
                <div class="col-lg-6 col-md-5 col-sm-10 header-content">
                    <h1 class = "row-back">Summer in Japan</h1>
                </div>
                <div class = "col-10"></div>
                <div class="col-lg-6 col-md-5 col-sm-7 header-content2">
                    <h1 class = "row-back2">Hot days and pleasent nights, with abundant festivals and revelry</h1>
                </div>
            </div>
        </div>
    </header>

    <div class = "container">
        <div class = "row align-items-center">
            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h4 class = "row-content0">
                    The most exciting time of the year. Don’t hate Japanese summer because it’s too hot and humid. 
                    There are many seasonal events in Japan during summer so why don’t you get into some of very special 
                    summer activities?? Let’s have the most amazing summer experience in Japan! 
                </h4>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class = "row align-items-center">
            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    1. Fireworks
                </h2>
                <div id="carouselExampleControls" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/fireworks.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/fireworks4.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content7">
                    The biggest anticipation! Fireworks are very traditional summer events in Japan and you will 
                    find numbers of fireworks events all over Japan during summer! Check the link below for the 
                    fireworks schedule in Tokyo for this summer!
                </h3>
                <h3 class = "row-content5 myPadding">
                    Check This Out:
                </h3>
                <a href="https://jw-webmagazine.com/list-of-fireworks-festivals-in-tokyo-2017-summer-edit-c389dff3f38c/">
                    <h3 class = "row-content4">
                        List of Fireworks Festivals in Tokyo
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    2. Join Traditional Summer Festivals
                </h2>
                <div id="carouselExampleControls2" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/summerfestival4.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/summerfestival3.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content7">
                    Japanese people love to party during summer! Join the local summer festivals especially in 
                    countrysides where you can see the very traditional festival spirits.
                </h3>
                <h3 class = "row-content5 myPadding">
                    Check This Out:
                </h3>
                <a href="https://jw-webmagazine.com/best-summer-festivals-in-tokyo-2bf3bb26d437/">
                    <h3 class = "row-content4">
                        10 Best Summer Festivals in Tokyo
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    3. Beach
                </h2>
                <div id="carouselExampleControls3" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/beach.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/beach2.webp" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content7">
                    Beach is the place everything happens! Get tanned, relax, have some chilled beer and swim.. 
                    what else do we need?? For beautiful beaches, Okinawa is the most recommended destination, 
                    though there are numbers of great beaches you can access from Tokyo, too!
                </h3>
                <h3 class = "row-content5 myPadding">
                    Check These Out:
                </h3>
                <a href="https://jw-webmagazine.com/5-best-beaches-in-okinawa-2017-ead08cfc4d9/">
                    <h3 class = "row-content4">
                        5 Best Beaches in Okinawa
                    </h3>
                </a>
                <a href="https://jw-webmagazine.com/5-best-beach-destinations-in-japan-apart-from-okinawa-198f4100fe2b/">
                    <h3 class = "row-content4">
                        5 Best Beaches in Japan apart from Okinawa
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    4. Join Music Festivals
                </h2>
                <div id="carouselExampleControls4" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/music2.jpeg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/music.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content7">
                    The biggest music festivals are held in summer time such as Fuji Rock Festivals and Summer 
                    Sonic both featuring numbers of world-class acts. Do not miss a chance to see the world 
                    famous bands & artists performing in Japan!
                </h3>
                <h3 class = "row-content5 myPadding">
                    Check These Out:
                </h3>
                <a href="https://jw-webmagazine.com/summer-sonic-2019-7984b3b59e00/">
                    <h3 class = "row-content4">
                        Summer Sonic
                    </h3>
                </a>
                <a href="https://jw-webmagazine.com/best-music-festivals-in-japan-dbc06494fb3f/">
                    <h3 class = "row-content4">
                        Best Music Festivals in Japan
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10">
                <h2 class = "row-content3">
                    5. Climb Mt.Fuji
                </h2>
                <div id="carouselExampleControls5" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/fuji4.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/fuji3.jpg" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls5" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls5" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content7">
                    You can officially climb the Mt.Fuji during summer! 
                    It is worth coming to Japan just to climb the Japanese highest mountain.
                </h3>
                <h3 class = "row-content7 ">
                    The open days of the previous year were as below.
                </h3>
                <h3 class = "row-content7 ">
                    Yoshida Trail(Yamanashi prefecture side): 1 July ~10 September
                </h3>
                <h3 class = "row-content7 ">
                    Subashiri, Gotemba and Fujinomiya Trails(Shizuoka prefecture side): 10 July~10 September
                </h3>
                <h3 class = "row-content5 myPadding">
                    Check These Out:
                </h3>
                <a href="https://jw-webmagazine.com/mt-fuji-climbing-guide-2018-11924440048f/">
                    <h3 class = "row-content4">
                        Mount Fuji Climbing Guide
                    </h3>
                </a>
                <a href="https://jw-webmagazine.com/3-days-itinerary-go-around-mt-fuji-57093367719b/">
                    <h3 class = "row-content4">
                        Book the popular Mt Fuji climbing tour from Tokyo!
                    </h3>
                </a>
            </div>

            <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-sm-10 newPadding">
                <h2 class = "row-content3">
                    6. Dress like Japanese
                </h2>
                <div id="carouselExampleControls6" class="carousel slide myPadding" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/img/yukata.jpeg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/img/yukata4.png" alt="Secon slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls6" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls6" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class = "row-content7">
                    Japanese summer’s traditional wear. There are thousands of different designed Yukata sold and 
                    available to rental for a day for men and women. Find your favourite one and let’s rock this summer!
                </h3>
                <h3 class = "row-content5 myPadding">
                    Check This Out:
                </h3>
                <a href="https://jw-webmagazine.com/yukata-how-to-wear-where-to-buy-rent-d1646fa14e10/">
                    <h3 class = "row-content4">
                        Yukata: How to Wear & Where to Buy/Rent
                    </h3>
                </a>
                <a href="https://jw-webmagazine.com/best-kimono-rental-in-tokyo-b76727d35fde/">
                    <h3 class = "row-content4">
                        7 Best Kimono/Yukata Rental in Tokyo
                    </h3>
                </a>
            </div>
        </div>
    </div>

    <footer class="footer bg-dark">
        <div class="container">
            <div class = "bottomnavbar">
                <a href="{% url 'home_view' %}">Home</a>
                <a href="{% url 'winter_view' %}">Winter Japan</a>
                <a href="{% url 'spring_view' %}">Spring Japan</a>
                <a href="{% url 'summer_view' %}" class = "active">Summer Japan</a>
                <a href="{% url 'autumn_view' %}">Autumn Japan</a>
            </div>

            <div class="row justify-content-center newPadding2">             
                <div class="text-center social-media">
                    <a class = "btn btn-social-icon btn-facebook" href="https://www.facebook.com/viktor.kachmaryk.3"><i class="fab fa-facebook"></i></a>
                    <a class = "btn btn-social-icon btn-instagram" href="https://www.instagram.com/k__vitya__k/?hl=uk"><i class="fab fa-instagram"></i></a>
                    <a class = "btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fab fa-twitter-square"></i></a>
                    <a class = "btn btn-social-icon btn-gooogle" href="http://youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
           </div>
            <div class="row justify-content-center newPadding3">             
                <div class="col-auto">
                    <p>Copyright © Kachmaryk Viktor. All Rights Reserved.</p>
                </div>
           </div>
        </div>
    </footer>
{% endblock %}